.header {
  display: flex;
  align-items: center;
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: $transition;
  position: fixed;
  top: 0;
  padding: 0px 40px;
  z-index: 11;
  width: 100%;
  height: $nav-height;
  filter: none !important;
  scroll-behavior: smooth;
  @include respond(tab-port) {
    padding: 0px 25px;
  }
}
.logo {
  font-size: 33px;
  display: block;
  letter-spacing: 1.5px;
  color: $green;
}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  @include respond(tab-port) {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  align-items: center;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  counter-reset: item;
}
.main-nav__item {
  margin: 5px;
  list-style: none;
}
.main-nav__link {
  padding: 10px;
  font-size: $fz-xs;
  font-weight: bolder;
  line-height: 1.5;
  color: $slate;
  transition: $transition;
  counter-increment: item 1;
  &:hover {
    color: $green;
  }
  &::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: $green;
    font-size: $fz-xxs;
    text-align: right;
  }
}

.resume-button {
  margin-left: 15px;
}

//left links
.side__style {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: $lightSlate;
  @include respond(tab-port) {
    display: none;
  }
}
.left__links {
  left: 40px;
  right: auto;
}
.right__links {
  right: 40px;
  left: auto;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $lightSlate;
  }
  &__list__item:last-child {
    margin-bottom: 20px;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    color: $lightSlate;
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      color: $green;
      transform: translateY(-5px);
    }
  }
  .feather {
    width: 20px;
    height: 20px;
    fill: none;
    color: inherit;
    display: block;
  }
}
.email__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $lightSlate;
  }
  .email__link {
    font-size: $fz-xxs;
    line-height: 18px;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    color: $lightSlate;
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      color: $green;
      transform: translateY(-5px);
    }
  }
}

// Hamburger

.mobile__nav {
  display: none;
  margin-left: auto;
  @include respond(tab-port) {
    display: block;
  }
}
.ham__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-right: -15px;
  padding: 15px;
  border: 0px;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
}
.ham__box {
  display: inline-block;
  position: relative;
  width: $hamburger-width;
  height: 24px;
}
.ham__inner {
  position: absolute;
  top: 50%;
  right: 0;
  width: $hamburger-width;
  height: 2px;
  border-radius: $border-radius;
  background-color: $green;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    height: 2px;
    border-radius: 4px;
    background-color: $green;
  }
  &::before {
    width: 120%;
    top: -10px;
    opacity: 1;
    transition: $ham-before;
  }
  &::after {
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: $ham-after;
  }
}

// Mobile Nav
.mobile__navbar__hidden {
  display: none;
  transform: translateX(100vw);
  visibility: hidden;
}
.mobile__navbar__active {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: $lightNavy;
  box-shadow: -10px 0px 30px -15px $navy-shadow;
  z-index: 9;
  transform: translateX(0vw);
  visibility: visible;
  transition: $transition;
}
.mobile__nav1 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: $lightestNavy;
  text-align: center;
  .mobile__nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    li {
      position: relative;
      margin: 0px auto 20px;
      counter-increment: item 0;
      font-size: clamp($fz-sm, 4vw, $fz-lg);
    }
  }
}
